body {
  font-family: 'Matrka Serif', serif;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  padding-top:65px;
  overflow-wrap: break-word;
  hyphens: auto;
}
a:hover{ text-decoration:none!important;}
#scriptselector .btn {
  height: 34px;
  font-size:18px;
  padding: 3px 6px;
}
.panel-body {
  font-size: 18px;
}
/* Formats line-groups (verses):
      These are inline so that following
      <ref> elements can be inline with the
      last line of a verse. */
.lg {
  display:inline;
}
/* Format individual lines as block elements */
.lg .l {
  display:block;
  margin-left:30px;
}
.lg .l+.lg .l:last-child {
  display:inline-block;
}
.l:last-child, .l:last-of-type {
  margin-bottom:10px;
}

.quote .l:last-child, .quote .l:last-of-type {
  margin-bottom:0;
}
.lg .l .caesura:after {
  content: "\A\0000a0\0000a0\0000a0\0000a0\0000a0\0000a0" !important;
  white-space:pre;
}
.verse_offset {
  content: "\00a0";
  width:180px;
  display:inline-block;
}
.title, .name {
  font-weight:bold;
}
.quote {
  color:#025fb1!important;
}
.quote .l {
  -moz-border-radius:4px;
  border-radius:2px;
  padding:2px;
}
.quote.block {
  padding-left:2em;
}
.ref {
  color:#4d4d4d;
  font-weight:bold;
}
.reference {
  color:#808080;
}
.reference:before {
  content:" [";
}
.reference:after {
  content:"]";
}
.foreign {
  font-style:italic;
}
.modal-quote {
  padding-left:3em;
  font-size:120%!important;
  color:#5cb85c!important;
  padding-bottom:1em;
  border-bottom: thin dashed #5cb85c;
  margin-bottom:2em;
}
.modal-quote:after {
    border: 0; 
    height: 1px; 
}
.sanskritword {
  display:none;
  color:#777;
}
.sanskritword:before {
  content:"\00a0\ = \00a0";!important;
}
.verse-label {
  display:none;
}
/* for drama */
.stage:before {
  content:"(";
  padding:0 4px;
}
.stage:after {
  content:")";
  padding:0 4px;
  font-family:sans-serif;
}
.stage {
  margin-right:6px;
  color:#999;
}
.stage-sp {
  display:inline;
}
.stage-division span {
  font-size:200%!important;
}
.stage-division:before, .stage-division:after { content:""; }
div.sp {
  display:block;
}
p.sp {
  display:inline-block;
}
.speaker {
  display:inline;
  text-transform:uppercase;
}
.s:after {
  content:" "!important;
}
.word:after {
  content:" "!important;
}
.word:last-child:after {
  content:''!important;
}
.chaya-toggle {
  font-family:"Printers Ornaments One";
  color:#C8C8C8;
  padding-right:5px;
}
.chaya-toggle:hover {
  color:#D3D3D3;
}
.fleuron {
  font-family:"Printers Ornaments One";
  color:gray;
  font-size:200%;
}
/* miscellaneous things */
.panel-title a {
  text-decoration:none;
}
.modal {
  color:#000;
}